#fstt{
    font-size: 36px;
    color: #333;
    background-color: #7bb1e2;
    padding: 10px;
    border-radius: 5px;
}
div{
    
    background-color: #53c99f;
    padding: 10px;
    border:15px solid #e50b0b;
    
}
h2{
    color: #e50b0b;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    text-align: center;
    box-shadow: #823131 0px 0px 10px;
}