#fstt{
    font-size: 36px;
    color: #333;
    background-color: #7bb1e2;
    padding: 10px;
    border-radius: 5px;
}
div{
    
    background-color: #53c99f;
    padding: 10px;
    border:15px solid #e50b0b;
    
}